.contenedor {
    width: 300px;
    height: 100px;
    background-color: coral;
    text-align: center;
}

div {
    background-color: blue;
}

span.frase {
    font-style: italic;
}

span::before {
    content: '<< ';
    font-size: xx-small;
}

span::after {
    content: ' >>';
    font-size: xx-small;
}

.libro {
    background-color: bisque;
    padding: 15px;
    font-family: Arial;
}

.libro p::first-letter {
    font-size: xx-large;
}

.libro p::first-line {
    color: white;
}

.libro p::selection {
    background-color: coral;
    color: blueviolet;
}

.listado ul li::marker {
    color: chartreuse;
}